.font-1-l {
    font: 700 1.75rem/2.6rem 'Inter', sans-serif;
}

.font-1-m {
    font: 700 1.5rem/2.25rem 'Inter', sans-serif;
}

.font-2-m {
    font: 400 0.93rem/1.4rem 'Lexend Deca', sans-serif;
}

.font-2-s {
    font: 400 0.875rem/1.31rem 'Lexend Deca', sans-serif;
}